

// ==========================
// Color Variables
// ==========================

$theme-color:#5163FF;
$primary-color:rgba(253, 67, 130, 1);
$offwhite-color:#EEEFFF;
$foooter-bg:#0C0129;
$light-color:#fff;
$dark-color:#000;
$yellow-color:#FFA722;

// ==========================
// Gradient Variables
// ==========================


$gradient: linear-gradient(90deg, #5163FF 12.38%, #C872F2 35.8%, #FE71B9 55.75%);
$gradient-1:linear-gradient(90deg, #708BFD 0%, #FE71B9 100%);
$gradient-2: linear-gradient(135deg, #FFF9FC 0%, #FCFCFD 100%);
$light-gradient: radial-gradient(64.58% 59% at 37.13% 12%, rgba(255, 255, 255, 0.315) 0%, rgba(255, 255, 255, 0) 55.41%, rgba(255, 255, 255, 0) 100%) ;
$text-graident: linear-gradient(130.68deg, rgba(81, 99, 255, 0.08) 27.01%, rgba(254, 113, 185, 0.02) 113.08%);
$border-gradient: linear-gradient(180deg, rgba(15, 52, 248, 0.47) 0%, rgba(9, 31, 146, 0) 100%);
$btn-gradient: linear-gradient(102.44deg, #5163FF -0.32%, #FE71B9 100%);

// ==========================
// Alpha Colors Variables
// ==========================

$light-color-1: rgba(255,255,255,0.1);
$light-color-2: rgba(255,255,255,0.2);

// ==========================
// Font and Typography Variables
// ==========================

$font-inter: "Inter", sans-serif;
$text-color:#838A95;
$text-dark: #00234B;
$text-dark-alpha: rgba(0, 35, 75, 0.26);
$theme-color-alpha:rgba(81, 98, 255, 0.1);
$border-color-alpha:  rgba(42, 48, 61, 0.15);


// ==========================
// Shadow Variables
// ==========================

$shadow: 2.25px -7px 44px 0px #F1F3FF inset;
$text-shadow: 1px 1px 1px 0px #00000040;
$glow-shadow: 4px 10px 20px 0px rgba(81, 99, 255, 0.26), -3px -4px 7px 0px rgba(255, 255, 255, 0.15) inset;
$glassmorphism-shadow: 0px -4px 18.5px 0px rgba(255, 255, 255, 0.79) inset,
0px -2px 4px 0px rgba(255, 255, 255, 0) inset;
$dark-shadow: 0px 8px 15.7px 0px #0C044212;
$dark-shadow-1: 0px 8px 18.1px 0px #070F552E;
$dark-shadow-2: 20px 15px 36px 0px rgba(0, 35, 75, 0.15);
$white-shadow: 0px 33px 101.1px 0px #EEEFFF inset, 0px -23px 25.3px 0px #F6F7FF inset;







